* {
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2F343F;
    padding: 10px;
}
span, p, div, input, select, tr, td, a, form, button, li {
    color: #e1e1e7;
}
ul {
    list-style: none;
}
li {

}
.header {

}
.header_item {
    cursor: pointer;
    margin-right: 19px;
}
.block_container {
    margin-top: 10px;
}
.block_list {
    display: flex;
    flex-wrap: wrap;
}
.block_list_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    min-width: 150px;
    max-width: 300px;
    border: 1px solid #e1e1e7;
    border-radius: 2px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    user-select: none;
}
.block_item_line {
    line-height: 1.7125;
}

.form_container {

}
.form_item {
    /* display: flex; */
    margin-top: 5px;
    margin-bottom: 5px;
}
.label {
    display: inline-block;
    width: 90px;
}
.input {
    display: verticalne-block;
    width: 190px;
    background-color: unset;
    border: none;
    border-bottom: 1px solid #e1e1e7;
    color: #e1e1e7;
    outline: none;
}
.textarea {
    width: 100%;
    height: 10vh;
    min-height: 50px;
    background-color: #00000000;
    border: 1px solid #e1e1e7;
    color: #e1e1e7;
    resize: vertical;
    outline: none;
}
.button {
    color: #2F343F;
    background-color: #e1e1e7;
    border: none;
    border-radius: 2px;
    text-align: center;
    padding: 2px 15px;
    cursor: pointer;
    
}

.doc_container {
    display: flex;
}
.doc_sidebar {
    width: 150px;
    height: calc(100vh - 10px - 10px - 50px);
    border: 1px solid #e1e1e7;
    border-radius: 2px;
    overflow: auto;
}
.sidebar_list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.doc_sidebar_li {
    padding: 3px 6px;
    cursor: pointer;
}
.doc_main {
    width: 100%;
    height: calc(100vh - 10px - 10px - 50px);
    padding-left: 10px;
}
.doc_datalist_tb {
    width: 100%;
}
.doc_datalist_tr {
    
}
.doc_datalist_td {
    padding: 10px;
}

.select_input_container {
    position: relative;
}
.select_input_input {

}
.select_input_ul {
    position: absolute;
    top:20px;
    left:0px;
    display:none;
    width: 199px;
    height: 199px;
    background-color: #e1e1e7;
    color: #2F343F !important;
    overflow: auto;
}
.select_input_li {
    color: #2F343F;
    cursor: pointer;
}

.module_datalist_tb {
    width: 100%;
    margin-top: 10px;
}
.module_datalist_tb tr {
    border-bottom: 1px solid #e1e1e7;
}
.module_datalist_tb tr td {
    height: 30px;
}